@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center-horizontal-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//Media queries manager
// 0-600px  Phone
// 600-900px  Tablet portrait
// 900-1200px  Tablet landscape
// (1200-1800px)is where our normal style apply
// 1800px+:  big desktop

// @mixin respond-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }
/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktok


Order: Base + Typography > general layout + grid > page layout >


1em=16px em== default font size of browser
*/

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      // 600px, (only screen) in here when you want to print out the media queries wouldn't apply, it will only apply on screen.
      @content;
    }
  }
  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      // 900px
      @content;
    }
  }
  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      // 1200px
      @content;
    }
  }
  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
